@use '../../base/placeholders/typography';
@import '../../abstracts';

.card-metadata {
  display: flex;
  flex-wrap: wrap;
  gap: $rem-size-12;
  padding: 0;
  margin: 0;
  list-style: none;

  &__item {
    display: inline-flex;
    gap: $rem-size-8;
    align-items: center;
    padding: 0;
    font-size: $rem-size-15;
    color: var(--typography-body-description);

    &:not(:last-child) {
      padding-right: $rem-size-12;
      border-right: 1px solid #D5D8DB;
    }

    &--articletype {
      font-size: $rem-size-17;
      font-weight: $font-weight-semibold;
      color: var(--typography-body-content);
    }
  }
}
